extends layout
block content
    header
        .categories.icon-menu
        .find.icon-search
        h1
            a.title(href="#")
                span.the the
                span.guardian guardian
    nav.cats.none
        each section in sections
            div
                input.section(type="checkbox",id="#{section.id}")
                label(for="#{section.id}") #{section.webTitle}

    .content
        .center
            input#find(type="text").none
        section.content.result.find-result
        div.next
            a#next.none view more