doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/socket.io.min.js',type="text/javascript")
        script(src='/javascripts/jade.js',type="text/javascript")
        script(src='/javascripts/engine.js',type="text/javascript")
        script(type='text/template',id='tmplResults')
            include result.js
    body
        block content
        script(type="text/javascript").
            initEngine();