@font-face
  font-family: 'icons';
  src:url('fonts/icons.eot');
  src:url('fonts/icons.eot?#iefix') format('embedded-opentype'),
    url('fonts/icons.woff') format('woff'),
    url('fonts/icons.ttf') format('truetype'),
    url('fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;

@keyframes dogload
  from
    background-position 0px
  to
    background-position -896px


@keyframes the
  0%
    color #74c274
  12%
    color #99bcdb
  24%
    color #7cbb02
  48%
    color #e97fc5
  60%
    color #cd83e7
  72%
    color #ffc204
  84%
    color #83d1fd
  100%
    color #74c274

@keyframes guardian
  0%
    color #0f3e02
  12%
    color #024b84
  24%
    color #4b7903
  48%
    color #7e0254
  60%
    color #410286
  72%
    color #c93a02
  84%
    color #086fc9
  100%
    color #0f3e02

@media all and (max-width: 500px) and (min-width: 0px)
  .notice
    width 50%;
@media all and (min-width: 500px) and (max-width: 600px)
  .notice
    width 33.3333%;
@media all and (min-width: 600px) and (max-width: 1000px)
  .notice
    width 25%
@media all and (min-width: 1000px)
  .notice
    width 20%;

[class^="icon-"], [class*=" icon-"]
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  cursor pointer

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size 24px
  padding-top 4px

.icon-search:before
  content: "\e600";


.icon-menu:before
  content: "\e601";


body
  padding 0
  margin 0
  font-size: 16px
  font-family 'PT Sans'
  margin-top 33px
  text-align center
a
  color: #00B7FF
  text-decoration none

header
  background-color white
  position fixed;
  left 0;
  top 0;
  right 0;
  height 32px;
  h1
    margin 0
    padding 0
    font-size 24px
  .the,.categories.icon-menu
    -webkit-animation: the 30s ease infinite
    -moz-animation: the 30s ease infinite
    -o-animation: the 30s ease infinite
    animation: the 30s ease infinite
  .guardian,.find.icon-search
    -webkit-animation: guardian 30s ease infinite
    -moz-animation: guardian 30s ease infinite
    -o-animation: guardian 30s ease infinite
    animation: guardian 30s ease infinite
  .categories,.find
    width 30px
  .categories
    float left
    padding-left: 6px
  .find
    float right



.center
  text-align center;
#find
  width 99%;
  margin 0 auto .8em auto;
  border 1px solid #ccc;
.clear
  clear both

.content
  vertical-align top

/*centrable*/
.content, header, .cats
  max-width 1200px
  text-align left
  margin auto

.notice
  display inline-block
  vertical-align top
  img
    float left
    width 100%
  p
    margin 0

.none
  display none !important

.next
  margin 0;
  text-align center;
  cursor pointer
  a
    padding: 1em
    display block

.loader
  background-image url("/img/dogload.GIF")
  width 128px;
  height 64px;
  -webkit-animation: dogload .36s steps(7) infinite
  -moz-animation:  dogload .36s steps(7) infinite
  -o-animation:  dogload .36s steps(7) infinite
  animation:  dogload .36s steps(7) infinite
  margin 0 auto